/* all app scss styles here */

body {
  background: #e2e2e2;
}

.chameleon {
  transition: all 400ms ease-out;
}

#title {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

.sect-title {
  padding-bottom: 10px;
  background: #cacaca;
}

.sect-form {
  background: #cacaca;
  padding-bottom: 30px;
}

.sect-signature {
  background: white;
  padding: 10px 0;
}

label {
  color: white;
}
