<script id="group-template" type="text/x-handlebars-template">
  <h3>Data</h3>
  <p>name: {{name}}</p>
  <p>division: {{division}}</p>
  <p>position: {{position}}</p>
  <p>email: {{email}}</p>


  </div>
</script>
